.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.toggle-sales {
  margin-top: 40px;
  background: -webkit-linear-gradient(right, #60c657, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.toggle-whitelist-sales {
  margin-top: 40px;
  background: -webkit-linear-gradient(right, #223020, #1f5167);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.limit-input {
  height: 40px;
  font-size: 24px;
  border: 1px solid -webkit-linear-gradient(right, #0a5503, #073244);
}
.btn-limit {
  background: -webkit-linear-gradient(right, #0a5503, #073244);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}
